<div class="container">
  <div class="form row">
    <div class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form">
      <h3 class="form-title">登录</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-sm-9 col-md-9">
          <div class="form-group">
            <i class="fa fa-user fa-lg"></i>
            <div class="field">
              <%= f.label :邮箱 %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",placeholder:"email" %>
            </div>
          </div>
          <div class="form-group">
            <i class="fa fa-lock fa-lg"></i>
            <div class="field">
              <%= f.label :密码 %><br/>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control",placeholder:"password" %>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <% if devise_mapping.rememberable? %>
                <div class="field" align="right">
                  <%= f.check_box :remember_me %>
                  <%= f.label :记住我 %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "登录",class:"btn btn-success pull-right" %>
              </div>
            </div>
          </div>
          <hr/>
          <div class = "form-group">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


</div>



