<div class="form row">
  <div class="form-horizontal col-sm-offset-3 col-md-offset-3" id="register_form">
    <h2 class="form-title">修改个人资料</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, id: "user-update-form") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="col-sm-9 col-md-9">
        <div class="form-group">
          <i class="fa fa-user fa-lg"></i>
          <div class="field">
            <%= f.label :您的邮箱 %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="form-group">
            <i class="fa fa-user fa-lg"></i>
            <div class="form-control">
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <i class="fa fa-user fa-lg"></i>
          <div class="field">
            <%= f.label :昵称 %>
            <%= f.text_field :user_name, autocomplete: "new-user_name", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <i class="fa fa-user fa-lg"></i>
          <div class="field">
            <%= f.label :密码 %> <i>(不想修改可以不填)</i>
            <% if @minimum_password_length %>
              <em>最少<%= @minimum_password_length %>个字符</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <i class="fa fa-user fa-lg"></i>
          <div class="field">
            <%= f.label :确认密码 %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <i class="fa fa-user fa-lg"></i>
          <div class="field">
            <%= f.label :当前密码 %>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <i class="fa fa-user fa-lg"></i>
          <div class="field">
            <%= f.label :手机号 %>
            <%= f.text_field :phone, autocomplete: "new-phone", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <i class="fa fa-user fa-lg"></i>
          <div class="actions">
            <%= f.submit "修改", class: "btn btn-success pull-right" %>
          </div>
    <% end %>
    <div class="btn btn-info pull-left">
      <%= link_to "返回", :back %>
    </div>
    </div>

    <div align="center">注销就能掩盖自己没钱吗?不能 <%= button_to "注销账户", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "确定要注销🐴?" }, method: :delete %></div>

    </div>
  </div>
</div>