<p id="notice"><%= notice %></p>

<table class="table table-hover table-responsive">
  <caption><h1>产品类型</h1></caption>
  <thead>
  <tr>
    <th>名称</th>
  </tr>
  </thead>
  <tbody>
  <% @product_types.each do |product_type| %>
    <tr>
      <td><%= product_type.product_type_name %></td>
      <td><%= link_to '修改', edit_product_type_path(product_type) %></td>
      <td><%= link_to '删除产品类型', product_type, method: :delete, data: { confirm: "确认删除此产品类型吗？" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to '新增产品类型', new_product_type_path %>
