<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transaction_item.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @transaction_item.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction_item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transaction_item.price %>
</p>

<p>
  <strong>Transaction order:</strong>
  <%= @transaction_item.transaction_order %>
</p>

<%= link_to 'Edit', edit_transaction_item_path(@transaction_item) %> |
<%= link_to 'Back', transaction_items_path %>
